<!-- HTML-форма, оформленная с помощью стилей Bootstrap 4 -->
<form method="post" action="" autocomplete="off">
  <div class="form-group">
    <label for="title">Название товара</label>
    <input name="title" type="text" class="form-control" id="title" placeholder="Введите название товара">
  </div>
  <div class="form-group">
    <label for="description">Описание товара</label>
    <input name="description" type="text" class="form-control" id="description" placeholder="Описание товара">
  </div>
  <div class="form-group">
    <label for="price">Цена товара</label>
    <input name="price" type="number" class="form-control" id="price" placeholder="Введите цену товара">
  </div>
  <div class="form-group">
    <label for="image">Изображение товара</label>
    <input name="image" type="text" class="form-control" id="image" placeholder="Путь к картинке">
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>