<div id="wrapper">
  {{> adminSidebar}}
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h3>Добавить товар</h3>
      <form method="POST" action="/admin/create" autocomplete="off">
        <div class="form-group">
          <label for="title">Название товара</label>
          <input name="title" type="text" class="form-control" id="title" placeholder="Введите название товара">
        </div>
        <div class="form-group">
        <label for="category">Категория</label>
        <select name="category" class="form-control" id="category">
          <option>Led светодиодные</option>
          <option>Днат натриевые</option>
        </select>
      </div>
        <div class="form-group">
          <label for="description">Описание товара</label>
          <textarea name="description" class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="price">Цена товара</label>
          <input name="price" type="number" class="form-control" id="price" placeholder="Введите цену товара">
        </div>
        <div class="form-group">
          <label for="images">Изображение товара</label>
          <textarea name="images" class="form-control" id="images" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="status">Статус</label>
            <select name="status" id="status" class="form-control">
              <option selected>На складе</option>
              <option>Под заказ</option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </form>
    </div>
  </div>
</div>