.admin-card {
    border: 1px solid black;
}

.logo {
    height: 50px;
}

.card {
    margin-left: 15px;
    margin-right: 15px; 
}

/* .card-img {
    display: inline-block;
    height: auto;
    max-width: 30%;
} */

.price {
    font-size: 24pt;
    font-weight: bold;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}