<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{data.title}}</h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="{{data.imagePath}}" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>{{data.description}}</p>
      <h3 class="my-3"><span>&#8381;</span>{{data.price}}</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

</div>