<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://ae01.alicdn.com/kf/H07c76d1f42184164b9d8c1e6ff38b7b4o/EU-PLUG-MH-HPS-Aluminio-Lamp-Voorschakelapparaten-600w-Dimbare-Elektronische-Ballasten-Verlichting-Accessoires.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Подробнее</a>
  </div>
</div>